/* Layout
   ========================================================================== */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #363c47;
  color: #cecece;
  font: 400 100%/1.5 "Open Sans", serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@media (min-width: 40em) {
  body { font-size: 125%; }
}

.container {
  margin: 0 auto;
  max-width: 36em;
  width: 90%;
}

a {
  color: #f2583d;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid #f2584d;
  text-decoration: none;
}

::selection { background: rgba(255,255,255,0.1); }
::-moz-selection { background: rgba(255,255,255,0.1); }

/* Header
   ========================================================================== */

header {
  border-bottom: 2px solid rgba(255,255,255,0.1);
  margin-bottom: 1.5em;
  padding: 1em 0;
}

@media (min-width: 40em ) {
  header { margin-bottom: 3em; }
}

.logo {
  color: rgba(255,255,255,0.3);
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.logo:hover {
  border: none;
  color: rgba(255,255,255,0.5);
  text-decoration: none;
}

/* Grid
   ========================================================================== */

@media (min-width: 40em) {
  .column {
    float: left;
    padding-left: 1em;
    padding-right: 1em;
  }

  .column.full { width: 100%; }
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.fourth { width: 24.95%; }
  .column.flow-opposite { float: right; }
}

/* Typography
   ========================================================================== */

h1, h2, h3, h4 {
  color: #f2583d;
  font-weight: 300;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 2.5em;
  line-height: 1.333em;
}

@media (min-width: 40em) {
  h1 { font-size: 3.3em; }
}

h2 {
  font-size: 1.8em;
  line-height: 1.5em;
  margin-bottom: 0.2em;
}

h3 {
  color: rgba(255,255,255,0.3);
  font-size: 1em;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h4 {
  color: #999;
  font-size: 1.1em;
  line-height: 1.5em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

p {
  margin-top: 0;
  margin-bottom: 1.5em;
}

/* Blockquote
   ========================================================================== */

blockquote { margin: 1.5em 0; }

blockquote p {
  font-size: 1.2em;
  font-weight: 300;
}

@media (min-width: 40em) {
  blockquote { margin: 2.5em 1.5em; }
  blockquote p { font-size: 1.4em; }
}

/* Dividers
   ========================================================================== */

hr {
  border: 0;
  border-top: 2px solid rgba(255,255,255,0.1);
  height: 0;
  margin: 2em auto;
  max-width: 5em;
}

hr.short {
  margin: 1em auto 2em auto;
  max-width: 2em;
}

@media (min-width: 40em) {
  hr { margin: 2.5em auto; }
}

/* Posts
   ========================================================================== */

.posts {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.posts li {
  margin-bottom: 2em;
}

.post-date {
  color: rgba(255,255,255,0.3);
  display: block;
}

/* Buttons
   ========================================================================== */

.button-wrap { margin: 3em 0; }

.button {
  border: 2px solid rgba(255,255,255,0.1);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: rgba(255,255,255,0.3);
  float: left;
  padding: 0.5em;
  text-align: center;
  -webkit-transition: color 0.2s ease, border 0.2s ease;
  -moz-transition: color 0.2s ease, border 0.2s ease;
  -o-transition: color 0.2s ease, border 0.2s ease;
  -ms-transition: color 0.2s ease, border 0.2s ease;
  transition: color 0.2s ease, border 0.2s ease;
  width: 48%;
}

.button.next {
  float: right;
  margin-left: 4%;
}

a:hover.button {
  border: 2px solid #f2583d;
  color: #f2583d;
}

/* Footer
   ========================================================================== */

footer { padding: 1em 0; }

/* Syntax Highlighting
   ========================================================================== */

pre, code {
  background-color: rgba(255,255,255,0.1);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

pre { padding: 1em; }
code { padding: 0.1em 0.3em; }
pre code {
  background: none;
  padding: 0;
}

/* Utilities
   ========================================================================== */

.float-right { float: right; }


/* Clearfix
   ========================================================================== */

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after { clear: both; }
.row { *zoom: 1; }

